*{margin:0;padding:0;}
/*body{font-size:0px;}*/
body{font:0px "Microsoft Yahei";}
a,em,span,li,div{font-size: 18px;}
#header_li1,#header_li2{
	list-style:none;
	float: left;
	/*display: inline;*/
}
#header>ul{
	width: 1000px;
	margin:25px auto 15px;
	overflow: hidden;
	height: 40px;
	line-height:40px;
}
#header_li1{
	width: 300px;
	font-size: 0;
}

#header_li1>a,#header_li1>a>img,#header_li1>img{
	vertical-align: middle;
}
#header_li1>a{
	font-size: 0;
}
#header_li2{
	width: 500px;
	text-align: center;
}
#header_li2 form{
	display: inline-block;
	vertical-align: middle;
	width: 350px;
}
#header_li3{
	list-style:none;
	float: right;
	text-align: right;
	width: 180px;
	font-size: 0;
}
#search_submit{
	float: left;
}
#search_input{
	float: left;
	padding-left: 8px;
	height: 31px;
	width: 300px;
	border: 2px solid #ADB2B9;
	border-right: none;
	
}
#search_input:hover,#search_input:focus{	
	border: 2px solid #D00060;
	border-right:none;
	outline:0;
}
#header_alink_nav{
	font-size:0px;
}
#header_alink_nav>span{
	vertical-align: middle;
	font: bold 15px "Microsoft Yahei";
	color: #90A4AE;
}
.header_alinks_user{
	color: #90A4AE;
	display: inline-block;
	text-align: center;
	font:6px  "Microsoft Yahei";
	margin-left:10px;
	line-height:12px;
}